@tailwind base;
@tailwind components;
@tailwind utilities;

/* a {
    @apply text-blue-500;
} */

.section {
    @apply py-20 px-[10%] md:px-[15%];
    /* padding: 6rem 15%; */
}

:root {
    --sc-color-rgb-light-50p: white !important;
}

@keyframes jump-infinite {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: 10px;
    }
    100% {
        margin-top: 0;
    }
}

#scroll-indicator {
    animation: jump-infinite 1.5s infinite;
}
